@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);


#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #28324e;
}
#menu-0 .mbr-brand__name a {
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
}
#header1-1 P {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  color: #faaf40;
}
#header1-1 H1 {
  color: #ffffff;
  text-align: center;
}
#msg-box4-28 .mbr-header__text {
  color: #faaf40;
}
#msg-box4-28 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-28 .mbr-article {
  color: #ffffff;
}
#social-buttons1-5 .mbr-header__text {
  color: #000000;
}


#msg-box4-13 .mbr-header__text {
  color: #faaf40;
}
#msg-box4-13 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-13 .mbr-article {
  color: #ffffff;
}
#msg-box4-13 .btn {
  font-family: 'Open Sans Condensed', sans-serif;
}
#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #28324e;
}
#menu-0 .mbr-brand__name a {
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
}
#content5-22 .mbr-header .mbr-header__text {
  text-align: center;
  color: #faaf40;
}
#content5-22 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-22 .mbr-article {
  color: #fff;
}
#form1-15 .mbr-header__text {
  color: #faaf40;
}
#social-buttons2-14 .mbr-header__text {
  color: #faaf40;
}

#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #28324e;
}
#menu-0 .mbr-brand__name a {
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
}
#social-buttons2-20 .mbr-header__text {
  text-align: center;
  color: #faaf40;
}

#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #28324e;
}
#menu-0 .mbr-brand__name a {
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
}
#msg-box5-22 .mbr-header__text {
  color: #7ac673;
}
#msg-box5-22 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box5-22 .mbr-article {
  color: #ffffff;
}
#msg-box5-22 .mbr-article P {
  color: #cccccc;
}
#header3-22 H3 {
  text-align: center;
}
